# Системные файлы
.DS_Store
Thumbs.db

# Файлы временного кэширования и логов
*.log
*.tmp
*.swp
*.swo

# Папки кэша и временных данных
cache/
tmp/

# Файлы и папки, создаваемые IDE/редакторами
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Папка с загруженными файлами (если они генерируются и не нужны в репозитории)
public/uploads/

# Файлы базы данных (если используются временные или тестовые базы данных)
*.sqlite

# Папка для сторонних библиотек (если используется Composer)
vendor/

# Личные конфигурационные файлы, которые могут содержать чувствительные данные
config/local.php
